<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DataGridExtensions" version="1.0.30.0" targetFramework="net461" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net461" />
  <package id="LoadingIndicators.WPF" version="0.0.1" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net461" />
  <package id="MahApps.Metro.Resources" version="0.5.0.0" targetFramework="net461" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net461" />
</packages>